@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap");
.header {
  background-color: #f7f3f3;
}
.header__logo {
  display: contents;
  align-items: center;
  padding: 10px;
}
.header__img {
  width: 30%;
  margin: 10px;
  margin-left: 35%;
}
.header__text {
  margin-left: 39%;
  font-size: 2.5em;
}

.slide {
  display: flex;
}
.slide__image {
  width: 650px;
  height: 350px;
}
.slide__text {
  color: limegreen;
  margin-left: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.slide__button {
  display: inline-block;
}

.image-section {
  position: relative;
}
.image-section__img {
  margin: 0;
}
.image-section__image {
  transform: scaleX(-1);
  width: 100%;
  height: 500px;
  display: block;
}
.image-section__text {
  position: absolute;
  text-align: center;
  top: 100px;
  width: 650px;
  justify-content: space-between;
}

.obrigada {
  position: relative;
}
.obrigada__logo {
  margin: 0;
}
.obrigada__img {
  width: 100%;
  display: block;
  border-radius: 30px;
}
.obrigada__text__span {
  right: 130px;
  top: 10%;
  bottom: 10%;
  position: absolute;
  font-size: 20px;
  margin-left: auto;
}
.obrigada__text {
  right: 130px;
  top: 10%;
  bottom: 10%;
  position: absolute;
}

.cadastro--info {
  text-align: center;
  grid-row-gap: 20px;
}
.cadastro--info .item1 {
  grid-area: Nome;
}
.cadastro--info .item2 {
  grid-area: Sobrenome;
}
.cadastro--info .item3 {
  grid-area: CPF;
}
.cadastro--info .item4 {
  grid-area: Email;
}
.cadastro--info .item5 {
  grid-area: Logradouro;
}
.cadastro--info .item6 {
  grid-area: Complemento;
}
.cadastro--info .item7 {
  grid-area: N°;
}
.cadastro--info .item8 {
  grid-area: Bairro;
}
.cadastro--info .item9 {
  grid-area: CEP;
}
.cadastro--info .item10 {
  grid-area: Cidade;
}
.cadastro--info .item11 {
  grid-area: Estado;
}
.cadastro--info .item12 {
  grid-area: Telefone;
}
.cadastro--info__pessoais {
  display: grid;
  padding: 10px;
  grid-gap: 10px 10px;
  grid-template-areas: "Nome Nome Sobrenome Sobrenome" "CPF Telefone Email Email" "CEP Logradouro Logradouro Logradouro " "N° Complemento Bairro Bairro" "Cidade Cidade Estado Estado";
}

.product--list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 10px 10px;
}
.product--list__itens {
  display: flex;
  padding: 20px;
  text-align: center;
  float: left;
  border: 2px solid green;
  border-radius: 35px;
}
.product--list__itens:hover .button {
  opacity: 1;
}
.product--list__text {
  font-size: 20px;
  font-family: arial, sans-serif;
  justify-content: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
  position: relative;
  left: 8%;
  margin: 0;
}
.product--list__preco {
  display: block;
  font-size: 25px;
}
.product--list .button {
  opacity: 0;
  position: relative;
  left: 25%;
  top: 10%;
  width: 190px;
  font-size: 15px;
}
.product--list__img {
  width: 200px;
  height: 200px;
  flex: 0 0 200px;
  border-radius: 10px;
}

.button {
  font-weight: 600;
  color: #ebe4e3;
  background-color: #24cc40;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial;
  display: block;
  text-align: center;
  margin: 2px;
}
.button__cadastro {
  display: flex;
  font-weight: 600;
  color: #ebe4e3;
  background-color: #24cc40;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial;
  width: 125px;
  margin-left: auto;
}
.button__obrigado {
  display: flex;
  color: #ebe4e3;
  background-color: #db65ae;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial;
  width: 110px;
  margin-left: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
}
.logo__img {
  width: 70px;
}
.logo__cart {
  fill: transparent;
}
.logo__cart path {
  stroke: black;
  stroke-width: 2px;
  stroke-miterlimit: 10px;
}

.rodape__infor {
  display: flex;
  align-items: center;
}
.rodape__infor__title {
  margin-right: 40px;
}
.rodape__infor .rodape__infor_text {
  vertical-align: middle;
  display: inline;
  margin-right: 100px;
}
.rodape__message {
  color: #7b7b7b;
  display: block;
  font: 400 12px/14px Montserrat, sans-serif;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  bottom: 0;
}

.h3 {
  margin-left: 10px;
}

body {
  background-color: #f3f3f3;
}

/*# sourceMappingURL=app.css.map */
