.info__pessoais{
    display: grid;
    grid-row-gap: 15px;
    h2,h3{
        text-align: center;
    }
}

.info__pagamento{
    display: grid;
    grid-row-gap: 15px;
    h2,h3{
        text-align: center;
    }
}




