.image-section{
    position: relative;
    &__img{
        margin: 0;
    }
    &__image{
        transform: scaleX(-1);
        width: 1255px;
        height: 500px;
        display: block;

    }
    &__text{
        position: absolute;;
        text-align: center;
        top: 100px;
        width:650px;
        justify-content: space-between;
    }
}