.obrigada{   
    position: relative;
    &__logo{
        margin: 0;
    }

    &__img{   
        width: 100%;
        display: block;
        border-radius: 30px;
    }
    &__text__span{
        right:130px;
        top: 10%;
        bottom: 10%;
        position: absolute;
        font-size: 20px;
        margin-left: auto;

    }

    &__text{
        right:130px;
        top: 10%;
        bottom: 10%;
        position: absolute;

    }


}