.slide{
    display: flex;

    &__image{
        width:650px;
        height:350px;

    }
    &__text{
        color: limegreen;
        margin-left: auto;
        width: 35%;
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    &__button{
        display:inline-block;
    }
}