.product--list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 10px 10px;

    &__itens {
        display: flex;
        padding: 20px;
        text-align: center;
        float: left;
        border: 2px solid green;
        border-radius: 35px;

        &:hover .button {
            opacity: 1;
        }
    }
    &__text {
        font-size: 20px;
        font-family: arial, sans-serif;
        justify-content: center;
        padding: 10px;
        font-style: italic;
        font-weight: bold;
        position: relative;
        left: 8%;
        margin: 0;
    }
    &__preco {
        display: block;
        // font-style: italic;
        font-size: 25px;
    }
    .button {
        opacity: 0;
        position: relative;
        left: 25%;
        top: 10%;
        width: 190px;
        font-size: 15px;
    }

    &__img {
        width: 200px;
        height: 200px;
        flex: 0 0 200px;
        border-radius: 10px;
    }
}
